<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
</p>

<p> oluita <%= @brewery.beers.count %> 
</p>

<p>
  <i>perustettu vuonna <%= @brewery.year %></i>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
